body {
  background-color: #23363e;
}
body .whole-page {
  width: 800px;
}
body .theme {
  height: 70px;
}
body .display-inline {
  display: inline-block;
}
body .right-side {
  width: calc(14%);
}
body .image {
  background-color: #3E606F;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 40px;
}
body .date {
  background-color: #23363e;
}
body .note {
  background-color: #99b8c6;
}
