.middle-line {
  height: 3px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-around;
}
.middle-line .middle-line-three-color-container {
  display: flex;
}
.middle-line .middle-line-three-color-container .middle-line-first-color {
  height: 3px;
  width: 36px;
  background-color: #ff7d65;
}
.middle-line .middle-line-three-color-container .middle-line-second-color {
  height: 3px;
  width: 36px;
  background-color: #ffcc8d;
}
.middle-line .middle-line-three-color-container .middle-line-third-color {
  height: 3px;
  width: 36px;
  background-color: #00bc79;
}
body {
  margin: 0;
}
.temp-back {
  width: 100%;
  opacity: 0.4;
  position: absolute;
}
.join-us-container {
  height: 120ex;
  margin-top: -70px;
  background-size: cover;
  background: url(img/141.jpg) no-repeat;
  display: flex;
  align-items: center;
}
.join-us-container .join-us-content {
  width: calc(50% -  150px);
  padding-left: 150px;
}
.join-us-container .join-us-content .join-us-content-first-block {
  background-color: #EEE;
  font-size: 52px;
  text-align: center;
  color: #ff7d65;
  opacity: 0.6;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 82px;
  line-height: 82px;
}
.join-us-container .join-us-content .join-us-content-text {
  font-size: 18px;
  color: #EEE;
  padding: 8px 0;
}
.join-us-container .join-us-content .join-us-content-button {
  background-color: #ff7d65;
  color: #EEE;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 138px;
  font-size: 20px;
}
.join-us-container .join-us-content .join-us-content-nav {
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  position: absolute;
  top: 50%;
  background-color: #999999;
  opacity: 0.3;
  font-size: 22px;
  margin-top: -24px;
}
.join-us-container .join-us-content .join-us-content-nav-left {
  left: 15px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.join-us-container .join-us-content .join-us-content-nav-right {
  right: 15px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.nav .logo {
  display: flex;
  align-items: center;
}
.nav .logo .logo-image {
  width: 60px;
  height: 60px;
  background: url('img/logo.png') no-repeat;
  display: inline-block;
  background-size: contain;
}
.nav .logo .logo-text {
  font-size: 30px;
  margin-top: -8px;
}
.nav .menu {
  display: flex;
  align-items: center;
}
.nav .menu .menu-item {
  padding: 0 10px;
}
.latest-courses {
  display: flex;
  flex-direction: column;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.latest-courses .latest-courses-label {
  margin: 52px 0 24px 0;
  text-align: center;
  font-size: 28px;
}
.latest-courses .latest-courses-container {
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between;
}
.latest-courses .latest-course-item-first {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 368px;
}
.latest-courses .latest-course-item-first .latest-course-item-image-first {
  background-image: url("img/01.jpg");
  background-size: cover;
  background-position-x: center;
  height: 220px;
}
.latest-courses .latest-course-item-first .latest-course-item-title {
  background-color: #303030;
  color: #EEE;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center;
}
.latest-courses .latest-course-item-first .latest-course-item-descr {
  height: 118px;
  background-color: #ff7d65;
  color: #EEE;
}
.latest-courses .latest-course-item-first .latest-course-item-descr .course-item-descr-first-block {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  height: 50px;
  line-height: 50px;
}
.latest-courses .latest-course-item-first .latest-course-item-descr .course-item-descr-second-block {
  height: 1px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEE;
}
.latest-courses .latest-course-item-first .latest-course-item-descr .course-item-descr-third-block {
  color: #EEE;
  text-align: center;
  padding: 12px 10px;
}
.latest-courses .latest-course-item-second {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 368px;
}
.latest-courses .latest-course-item-second .latest-course-item-image-second {
  background-image: url("img/02.jpg");
  background-size: cover;
  background-position-x: center;
  height: 220px;
}
.latest-courses .latest-course-item-second .latest-course-item-title {
  background-color: #303030;
  color: #EEE;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center;
}
.latest-courses .latest-course-item-second .latest-course-item-descr {
  height: 118px;
  background-color: #ffcc8d;
  color: #EEE;
}
.latest-courses .latest-course-item-second .latest-course-item-descr .course-item-descr-first-block {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  height: 50px;
  line-height: 50px;
}
.latest-courses .latest-course-item-second .latest-course-item-descr .course-item-descr-second-block {
  height: 1px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEE;
}
.latest-courses .latest-course-item-second .latest-course-item-descr .course-item-descr-third-block {
  color: #EEE;
  text-align: center;
  padding: 12px 10px;
}
.latest-courses .latest-course-item-third {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 368px;
}
.latest-courses .latest-course-item-third .latest-course-item-image-third {
  background-image: url("img/03.jpg");
  background-size: cover;
  background-position-x: center;
  height: 220px;
}
.latest-courses .latest-course-item-third .latest-course-item-title {
  background-color: #303030;
  color: #EEE;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center;
}
.latest-courses .latest-course-item-third .latest-course-item-descr {
  height: 118px;
  background-color: #00bc79;
  color: #EEE;
}
.latest-courses .latest-course-item-third .latest-course-item-descr .course-item-descr-first-block {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  height: 50px;
  line-height: 50px;
}
.latest-courses .latest-course-item-third .latest-course-item-descr .course-item-descr-second-block {
  height: 1px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEE;
}
.latest-courses .latest-course-item-third .latest-course-item-descr .course-item-descr-third-block {
  color: #EEE;
  text-align: center;
  padding: 12px 10px;
}
.our-services-container {
  display: flex;
  height: 330px;
}
.our-services-container .our-services-content {
  width: 920px;
  height: 210px;
  display: flex;
  margin: auto;
}
.our-services-container .our-services-content .our-services-icons-container {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
}
.our-services-container .our-services-content .our-services-icons-container .our-services-icon {
  margin-right: 36px;
  width: 70px;
  text-align: center;
  font-size: 42px;
  color: #00bc79;
  border: 2px solid #00bc79;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 76px;
  line-height: 76px;
}
.our-services-container .our-services-content .our-services-disc-container {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-services-container .our-services-content .our-services-disc-container .our-services-disc-content {
  display: flex;
  flex-direction: column;
}
.our-services-container .our-services-content .our-services-disc-container .our-services-disc-content .our-services-title {
  font-size: 28px;
  margin-bottom: 20px;
}
.our-services-container .our-services-content .our-services-disc-container .our-services-disc-content .our-services-text {
  font-size: 18px;
  text-align: justify;
}
.our-services-container .our-services-content .our-services-disc-container .our-services-disc-button {
  margin-left: auto;
  text-align: center;
  width: 110px;
  border: 2px solid #00bc79;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 30px;
  line-height: 30px;
}
.statistics-container {
  display: flex;
  height: 300px;
}
.statistics-container .statistics-content {
  margin: auto;
  width: 720px;
  display: flex;
  justify-content: space-around;
}
.statistics-container .statistics-content .statistics-item {
  display: flex;
  flex-direction: column;
  color: #EEE;
  text-align: center;
}
.statistics-container .statistics-content .statistics-item .statistics-first-line {
  font-size: 50px;
  margin-bottom: 15px;
}
.statistics-container .statistics-content .statistics-item .statistics-second-line {
  font-size: 32px;
}
.statistics-container .statistics-content .statistics-item .statistics-third-line {
  font-size: 14px;
}
.how-we-work-container .how-we-work-content {
  width: 920px;
  display: flex;
  flex-direction: column;
}
.how-we-work-container .how-we-work-content .how-we-work-header {
  text-align: center;
}
